<template name='learnerHome'>
	<div class="container">
	<div class="row">
	<div class ="col-md-12">
	<div class="page-header">
<div class="page-header">
<div class="text-center">	
<h3>Welcome to leaners home!!!</h3>
</div>
</div>
<p class="text-center">
 To browse or add a meetup to our directory, please choose an option below
</p>
<div class="text-center">
	<a href="/" class="btn btn-primary">Add Meetup</a>
	<a href="/" class="btn btn-primary">Add Meetup</a>
</div>
</div>
</div>
</div>
</div>
</template>