<template name="home">
	
	
		<div id="secondDiv">
			<div class="container">
			<div class="row">
	<div class="col-md-12">
		
		
		<img src="online_tutoring.jpg" alt="live your life">
		
	</div>
		</div>


				<div class="row">

					<div class="col-md-6">
						<p>Are you in college?<br>
							Having a problem with your courses?<br>
							TutorMe is here to help.
						</p>
					</div>

					<div class="col-md-6">
						<img src="learnt.jpg" alt="live your life">
					</div>

				</div>
			</div>
		</div>


		<div class="thumb">
			<div class="container">
			<h2>Study Up</h2>
				<p>Learn the fun way</p>
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="tutoring1.jpg">
						</div>
						<div class="thumbnail">
							<img src="tutoring2.jpg">
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="tutoring3.jpg">
						</div>
						<div class="thumbnail">
							<img src="tutoring4.jpg">
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="onlinetutor.png">
						</div>
					</div>
				</div>
			</div>
		</div>


	

</template>